verbose: false;
foreground: false;
inetd: false;
numeric: false;
transparent: false;
timeout: 2;
user: "nobody";
pidfile: "/var/run/sslh/sslh.pid";

# syslog_facility: "auth";

listen:
(
    { host: "this_ipv4-var";       port: "443"; }#ipv6_comma
#ipv6_line    { host: "this_ipv6-var";       port: "443"; }
);

protocols:
(
    { name: "ssh"; service: "ssh"; host: "localhost"; port: "ssh_port-var"; keepalive: true; },
    { name: "tls"; host: "localhost"; port: "5223"; alpn_protocols: [ "xmpp-client" ]; },
    { name: "tls"; host: "localhost"; port: "5444"; sni_hostnames: [ "xu.domain-var"]; },
    { name: "xmpp"; host: "localhost"; port: "5222"; },
    { name: "tls"; host: "localhost"; port: "443"; },
    { name: "timeout"; host: "localhost"; port: "443"; }
);

on-timeout: "timeout";
